#h1_blue{
  font: Arial, Helvetica, sans-serif;
  color: blue;
}

body{
  padding: 50px;
  color: rgba(0,0,0,0.7);
}

html{
  background-image: url("kitchen_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.trigger{
  width: 400px;
  height: 200px;
  border: 20px solid #999;
  background: #ddd;
}

.box{
  display: inline-block;
  background: pink;
  width: 400px;
  height: 200px;

  transition: transform 300ms ease-in-out;
  pointer-events: none;
}

.trigger:hover .box{
  transform: translate(400px);

}
