.faded{
  opacity: 0.1;

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.faded:hover{
    opacity:1;
}

h1.white-title{
  font-family: 'Convergence', sans-serif;
/*  font: Arial, Helvetica, sans-serif;*/
  font-size: 80px;
  color: #ffffcc;

}

h4.white-normal{
  font-family: 'Raleway', sans-serif;
/*  font: Arial, Helvetica, sans-serif;*/
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}

.left{
  left: 0px;
}

html{

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

body{
  height: 100%;
}

header{
  background-image: url("kitchen_image.jpg");
  height: 100%;
  background-size: cover;
}
