h1.white-title{
  font-family: 'Convergence', sans-serif;
/*  font: Arial, Helvetica, sans-serif;*/
  font-size: 80px;
  color: #ffffcc;

}

h4.white-normal{
  font-family: 'Convergence', sans-serif;
/*  font: Arial, Helvetica, sans-serif;*/
  font-size: 40px;
  color: #fffffc;
}

.left{
  left: 0px;
}

body{

  color: rgba(0,0,0,0.7);


}

html{
  background-image: url("kitchen_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;

}

.trigger{
  width: 600px;
  height: 350px;
  border: 20px solid #999;
  background: #ddd;
}

.box{

  display: inline-block;
  background: #d2a679;
  width: 560px;
  height: 310px;


  transition: transform 300ms ease-in-out 250ms;
  pointer-events: none;
}

.trigger:hover .box{
  transform: translate(500px);

}
